@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

td:has(.actions-area) {
  width: 1%;
}

/* Loading modal */
.MuiModal-root.loadingModal .MuiBackdrop-root {
  background-color: rgba(200, 200, 200, 0.4);
  backdrop-filter: blur(6px);
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

input[type="password"]::-moz-textfield-decoration-container {
  display: none;
}

/* Skeletons */
.bone {
  background-color: #e0e4eb;

  animation: pulse;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

/* Swiper Pagination */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #4e7c3c !important;
}

@media (min-width: 540px) {
  .mobileBudgetsArea {
    display: none;
  }
}
@media (max-width: 540px) {
  .desktopBudgetsArea {
    display: none;
  }
}

/* Animations */

@keyframes pulse {
  0% {
    background-color: #e0e4eb;
  }

  50% {
    background-color: #cdd1d8;
  }

  100% {
    background-color: #e0e4eb;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeTop {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeBottom {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
